/* basic color */
$first-black: rgba(0, 0, 0, 1);
$second-black: rgba(42, 42, 42, 1);
$third-black: rgba(74, 74, 74, 1);

$first-grey: rgba(128, 128, 128, 1);
$second-grey: rgba(153, 153, 153, 1);
$third-grey: rgba(175, 177, 189, 1);
$fourth-grey: rgba(240, 240, 245, 1);

$light-pink: rgba(246, 117, 153, 1);
$white: white;